[submodule "lib/openzepplin-contracts"]
	path = lib/openzepplin-contracts
	url = https://github.com/OpenZepplin/openzepplin-contracts
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
